.vscode/**
.vscode-test/**
.github/**
scripts/**
out/**
builds/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vitest.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.test.ts
**/.vscode-test.*
pnpm-lock.yaml
